{$DEMOLITION_HOSTNAME:demolition.home.arpa} {
  tls internal

  @owner_api path /api/*
  reverse_proxy @owner_api demolition:3001 {
    header_up X-Demolition-Proxy-Token {$DEMOLITION_PROXY_TOKEN}
  }

  reverse_proxy demolition:3000
}
